{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="int-start.html.html">Back</a>

      <h1 class="heading-large">Company address</h1>


      <h4 class="heading-medium">Postcode: SW1 2HZ</h3>

<div class="form-group">
  <label class="form-label" for="select-box">Select an address</label>
  <select class="form-control" id="select-box" name="select-box">
    <option>26 Woodberry Road SW1 2HZ</option>
    <option>27 Woodberry Road SW1 2HZ</option>
    <option>5 Highbury House, Woodberry Road SW1 2HZ</option>
  </select>
</div>


        <div class="form-group">
          <details>
            <summary><span class="summary">I can't find my address in the list</span></summary>
            <div class="panel panel-border-narrow">
              <p>
                text tex text text tex text text tex text text tex text
              </p>
            </div>
          </details>
        </div>

                <a class="button" href="your-email.html" role="button">Continue</a>

<br><br><br><br>








</main>

{% endblock %}
