{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
  <br></br>
      <div class="govuk-box-highlight">

        <p class="font-large">
          Thankyou for confirming your email<br>
        </p>
      </div>


      <h2 class="heading-medium">What happens next</h2>

<a href="signinpass.html">Create a password</a> to continue.



    </div>
  </div>

</main>

{% endblock %}
