{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="your-email.html">Back</a>

      <h1 class="heading-large">
        Confirm your email address
      </h1>


<br></br>
We need to verify your email address.
<br></br>
We have sent an email to you at sally.jones@linked.com <a href="email">[View email]</a> containing a link.<br></br>Please select the link to confirm your email address.
<br></br><br></br>
Entered the wrong email address? <a href="email" target="_blank">Change your email address</a>












    </div>
  </div>
</main>

{% endblock %}
