{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">
<br>
<h1 class="heading-large">Manage notifications</h1>
<br>



<table>
  <tbody>
    <tr>
      <th scope="row">Notification 1</th>
      <td>Ref: 15363</td>
      <td><a href="">Manage agents</a></td>
      <td><a href="notification.html">Manage team members</a></td>
    </tr>
    <tr>
      <th scope="row">Notification 2</th>
      <td>Ref: 15386</td>
      <td><a href="">Manage agents</a></td>
      <td><a href="">Manage team members</a></td>
    </tr>
    <tr>
      <th scope="row">Notification 3</th>
      <td>Ref: 15307</td>
      <td><a href="">Manage agents</a></td>
      <td><a href="">Manage team members</a></td>
    </tr>
    <tr>
      <th scope="row">Notification 4</th>
      <td>Ref: 15878</td>
      <td><a href="">Manage agents</a></td>
      <td><a href="">Manage team members</a></td>
    </tr>
    <tr>
      <th scope="row">Notification 5</th>
      <td>Ref: 15978</td>
      <td><a href="">Manage agents</a></td>
      <td><a href="">Manage team members</a></td>
    </tr>
    <tr>
      <th scope="row">Notification 6</th>
      <td>Ref: 15798</td>
      <td><a href="">Manage agents</a></td>
      <td><a href="">Manage team members</a></td>
    </tr>
  </tbody>
</table>
<br>





</main>

{% endblock %}
