{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


<br></br>


      <h3 class="heading-large">What's your email address?
      </h3>


      <div class="form-group">
        <input type="text" class="form-control" id="name">
      </div>

      <div class="multiple-choice">
      <input id="checkbox-email address" name="email address" type="checkbox" value="true">
      <label for="checkbox-email address">My email address is correct</label>
    </div>


<br></br>


    <div class="form-group">
        <a href="confirmation.html"><input class="button" type="submit" value="Continue"></a>
    </div>



    </div>
  </div>
</main>

{% endblock %}
