{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">



      <a class="link-back" href="start-page">Back</a>

      <h3 class="heading-large">Sign in
      </h3>


      <div class="form-group">
        <label class="form-label" for="user ID">
          User ID
            <span class="form-hint">Enter the user ID you received when you created your account. It's up to 12 characters long.</span>
        </label>
        <input type="text" class="form-control" id="user ID">
      </div>

      <div class="form-group">
        <label class="form-label" for="password">
          Password
          <span class="form-hint"></span>
        </label>
        <input type="text" class="form-control" id="passweord">
      </div>

      <div class="form-group">
          <a href="password"><input type="submit" class="button" value="Sign in"></a>
      </div>



    <p><a href="name.html">I don't have an account</a></p>


    </div>
  </div>
</main>

{% endblock %}
