{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <br></br>

      <h1 class="heading-large">New password
      </h1>


        <br>
        Create a new password
        <span class="form-hint">Your password must have:

        <ul class="list list-bullet">
        <li>at least 8 characters</li>
        <li>at least one capital letter</li>
        <li>at least one symbol, for example: ?!£%</li>
        </ul>
        </span>
        <form>
        <input class="form-control" id="" type="text" name="">
        </form>



        <br>
        Confirm new password
        <form>
        <input class="form-control" id="" type="text" name="">
        </form>
<br>


<br>
        <div class="form-group">
        <a href="service.html"><input class="button" type="submit" value="Continue"></a>
        </div>



    </div>
  </div>
</main>

{% endblock %}
