{% extends "govuk_template_unbranded.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

<style>
h1 {
  color: #C70039;
  font-size: 36px;
  font-weight: bold;
}
.button1 {
    background-color: #C70039;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 18px;

}
</style>

<img src="../public/images/post-office.png"  height="70" width="140" alt="">
<br>
<img src="../public/images/reddot.png"  height="4" width="100%" alt="">

<p align="right"><img src="../public/images/gov_uk_verify_certified_company.png"  height="60" width="140" alt=""></p>

<h1>Security code</h1>
<br>
We've sent your security code to:
<br></br>
07777 123456
<br></br>
It may take a minute or so to arrive.
<br></br>



Security code
<form>
<input class="form-control" id="" type="text" name="">
</form>

<br>


<div class="form-group">
    <a href="post-name.html"><input class="button1" type="submit" value="Continue"></a>
</div>




    </div>
  </div>
</main>
{% endblock %}
