{% extends "govuk_template_unbranded.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

<style>
h1 {
  color: #C70039;
  font-size: 36px;
  font-weight: bold;
}
.button1 {
    background-color: #C70039;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 18px;

}
</style>

<img src="../public/images/post-office.png"  height="70" width="140" alt="">
<br>
<img src="../public/images/reddot.png"  height="4" width="100%" alt="">

<p align="right"><img src="../public/images/gov_uk_verify_certified_company.png"  height="60" width="140" alt=""></p>

<h1>Identity test</h1>
<br>
<p>We’re going to ask you some questions that only you should know the answers to.</p>

<p>This is to make sure someone else isn’t pretending to be you by using your personal details.</p>

<p>We get this information from your credit record. Everyone in the UK aged 18 and over has a credit record if they’ve had a credit account for longer than 6 months.</p>

<p>A credit record typically includes:</p>
<ul class="list list-bullet">
<li>bank accounts, loans and credit cards</li>
<li>utility company accounts</li>
<li>whether you’re on the electoral register</li>
<li>By taking the identity test, you grant Post Office temporary access to your credit record.</li>
</ul>
<p>Your credit score won’t be affected.</p>



<div class="form-group">
    <a href="post-test2.html"><input class="button1" type="submit" value="Continue"></a>
</div>




    </div>
  </div>
</main>
{% endblock %}
