{% extends "govuk_template_unbranded.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

<style>
h1 {
  color: #C70039;
  font-size: 36px;
  font-weight: bold;
}
.button1 {
    background-color: #C70039;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 18px;

}
</style>

<img src="../public/images/post-office.png"  height="70" width="140" alt="">
<br>
<img src="../public/images/reddot.png"  height="4" width="100%" alt="">

<p align="right"><img src="../public/images/gov_uk_verify_certified_company.png"  height="60" width="140" alt=""></p>

<h1>Identity test</h1>
<br>
<p>
We’re going to ask you a question that only you should know the answers to. This information will be from your credit record.
</p><p>
Your answers help verify you are the person stated.
</p><p>
By taking the identity test, you grant post-office temporary access to your credit record. Your credit score won’t be affected.
</p>
<h3 class="heading-medium">When did you last take out a personal loan (excluding student loans)?
</h3>


<div style="background-color: #DCDADB; padding: 15px 15px 15px 15px;" class="">
  <input id="radio-1" type="radio" name="radio-group" value="No">
  <label for="radio-1">Less than 2 years ago<br></label>
</div>
<p>
<div style="background-color: #DCDADB; padding: 15px 15px 15px 15px;" class="">
  <input id="radio-1" type="radio" name="radio-group" value="No">
  <label for="radio-1">Between 2 and 4 years ago<br></label>
</div>
<p>
<div style="background-color: #DCDADB; padding: 15px 15px 15px 15px;" class="">
  <input id="radio-1" type="radio" name="radio-group" value="No">
  <label for="radio-1">Between 4 and 6 years ago<br></label>
</div>
<p>
<div style="background-color: #DCDADB; padding: 15px 15px 15px 15px;" class="">
  <input id="radio-1" type="radio" name="radio-group" value="No">
  <label for="radio-1">More than 6 years ago<br></label>
</div>
<p>
<div style="background-color: #DCDADB; padding: 15px 15px 15px 15px;" class="">
  <input id="radio-1" type="radio" name="radio-group" value="No">
  <label for="radio-1">I have never had one<br></label>
</div>



<br></br>

<div class="form-group">
    <a href="post-verified.html"><input class="button1" type="submit" value="Continue"></a>
</div>




    </div>
  </div>
</main>
{% endblock %}
