{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}




<!--  -->

<br></br>
<style>

#blue {
  width:700px;
  height:700px;
  background:#005EA5;
  padding: 20px 30px 50px 30px;}

#green {
    width: 250px;
    height: 300px;
    border: 1px #005EA5;
    float: left;
    margin: 5px;
}
#red {
    width: 400px;
    height: 300px;
    border: 1px #005EA5;
    margin: 5px;
    float: left;
}



body {color: white;}
h1   {color: white;}
textarea   {color: white;}
label {color: white;}
.button {
    background-color: #FFFFFF;
    border: none;
    color: #005EA5;/* blue */
    padding: 8px 20px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 18px;
}
.button:hover {
    background-color: white;
    color: #005EA5;/* blue */
}

</style>



<main id="content" role="main">
<div id="blue">

<div id="green">
<img align='left' alt="GOV.UK Verify" src="../public/images/govuk-verify.svg" height="100" width="150" style="padding:40px;">
</div>

<div id="red">

<br>
A certified company verifies your identity. They’ve all met security standards set by government.
<br></br>
You don’t need to be an existing customer with a company as they've built new, secure systems to verify identities.
<br></br>
There’s no charge for this service.
<br></br>
<details>
<summary style="color:white;"><span class="summary">How companies can verify identities</span></summary>
<div class="panel panel-border-narrow">
<p>
  These companies can use their own data, and they can access data like credit records.<br>
  There won’t be any effect on your credit score.<br>
  Certified companies meet government privacy standards, so you can trust them with your personal information. They won’t share or sell your data for any other purposes without your consent.<br>
  More than one certified company means you choose who verifies your identity, and it means the system overall is stronger.
</p>
</details>

<br>
<div>
    <a href="v-five.html"><input class="button" type="submit" value="Continue" style="font-weight:bold"></a>
</div>



</div>

</div>
</main>












{% endblock %}
