{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <style>
#header {
    width: 100%;
    background-color: white;
    height: 30px;
}

#container {
    width: 100%;
    background-color: white;
}
#first {
    width: 99%;
    float: left;
    background-color: white;
}
#second {
    width: 1%;
    float: left;
    background-color: white;
}
#clear {
    clear: both;
}
      </style>

<a class="link-back" href="v-verified.html">Back</a>
<br>

<h1 class="heading-large">What is your company name?</h1>


<div id="header"></div>
<div id="container">

  <span class="form-hint">
    <br>This is the company name registered with Companies House.
  </span>

<div id="first">
<form>
<input class="form-control" id="search" type="text" name="search">&nbsp;&nbsp;
<a class="button" href="v-company2.html" role="button">Search</a>
</form>
</div>



<div id="second">
</div>

<br></br>

<br>
<!--
<div id="clear">
  <a href="v-authority.html"><input class="button" type="submit" value="continue"></a>
</div>
-->
<br></br>
</main>

{% endblock %}
