{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <style>
#header {
    width: 100%;
    background-color: white;
    height: 30px;
}

#container {
    width: 100%;
    background-color: white;
}
#first {
    width: 99%;
    float: left;
    background-color: white;
}
#second {
    width: 1%;
    float: left;
    background-color: white;
}
#clear {
    clear: both;
}
      </style>

<a class="link-back" href="v-organisation.html">Back</a>
<br>

<h1 class="heading-large">What is your company name?</h1>


<div id="header"></div>
<div id="container">

<label class="form-label" for="full-name-f1">Search by entering your company name or registration number</label>

<div id="first">
<form>
<input class="form-control" id="search" type="text" name="search">&nbsp;&nbsp;
<a class="button" href="v-company2.html" role="button">Search</a>
</form>
</div>



<div id="second">
</div>

<br></br><br>
Or enter your company details manually
<br></br>
Company name
<form>
<input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
</form>
<br>
<div id="clear">
  <a href="v-authority.html"><input class="button" type="submit" value="continue"></a>

</div>
<br></br>
</main>

{% endblock %}
