{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}




<!--  -->

<br></br>
<style>

#blue {
  width:700px;
  height:600px;
  background:#005EA5;
  padding: 20px 30px 50px 30px;}

#green {
    width: 250px;
    height: 300px;
    border: 1px #005EA5;
    float: left;
    margin: 5px;
}
#red {
    width: 400px;
    height: 300px;
    border: 1px #005EA5;
    margin: 5px;
    float: left;
}



body {color: white;}
h1   {color: white;}
textarea   {color: white;}
label {color: white;}
.button {
    background-color: #FFFFFF;
    border: none;
    color: #005EA5;/* blue */
    padding: 8px 20px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 18px;}
.button:hover {
    background-color: white;
    color: #005EA5;/* blue */}


</style>



<main id="content" role="main">
<div id="blue">

<div id="green">
<img align='left' alt="GOV.UK Verify" src="../public/images/govuk-verify.svg" height="100" width="150" style="padding:40px;">
</div>

<div id="red">

<br>
Verifying your identity takes about 5 minutes to complete.<br></br>
You’ll then have an identity account with the certified company.<br></br>
You can then access other government services wherever you see
the GOV.UK Verify logo.
<br></br>


<div>
    <a href="v-choose.html"><input class="button" type="submit" value="Start now" style="font-weight:bold"></a>
</div>
<br>
<!––Drop down ––>
<div class="form-group">

<details>
<summary style="color:white;"><span class="summary"> Where you can use your identity account</span></summary>
<div class="panel panel-border-narrow">
<p>GOV.UK Verify is new, and government services are joining all the time.</p>
<p>You can use your identity account to access:
<br>
<ul class="list list-bullet">
<li>view or share your driving licence information</li>
<li>apply for Universal Credit</li>
</ul>
</div>
</details>

</div>



</div>
</div>
</main>












{% endblock %}
