{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


<a class="link-back" href="v-authority.html">Back</a>
  <br>
      <h2 class="heading-large">Verify your identity
</h2>
        <p>In order to give you access to your permits online Defra needs to check your identity.
<br></br>
          Defra uses a service called Verify to do this.












        </p>





<br>

        <div class="form-group">
        <a href="v-used-verify.html"><input class="button" type="submit" value="Continue"></a>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
