{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="v-choose.html">Back</a>

      <h1 class="heading-large">Continue to Post Office
      </h1>
<p>
      You’ll now verify your identity on Post Office’s website.<p></p> They’ll give you an identity account you can use wherever you see the GOV.UK Verify logo.
</p>
<p>
<a class="button" href="post-create.html" role="button">Continue to Post Office</a>



    </div>
  </div>
</p>
<p>
  Or <a href="v-to-postoffice.html">choose another certified company</a>
</p>



</main>

{% endblock %}
