{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}




<!--  -->

<br></br>
<style>

#blue {
  width:700px;
  height:300px;
  background:#005EA5;
  padding: 20px 30px 50px 30px;}

#green {
    width: 250px;
    height: 300px;
    border: 1px #005EA5;
    float: left;
    margin: 5px;
}
#red {
    width: 400px;
    height: 300px;
    border: 1px #005EA5;
    margin: 5px;
    float: left;
}




h2   {color: white;}
label {color: white;}
.button {
    background-color: #FFFFFF;
    border: none;
    color: #005EA5;/* blue */
    padding: 8px 20px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 18px;
}
.button:hover {
    background-color: white;
    color: #005EA5;/* blue */
}



</style>



<main id="content" role="main">
<div id="blue">

<div id="green">
<img align='left' alt="GOV.UK Verify" src="../public/images/govuk-verify.svg" height="100" width="150" style="padding:40px;">
</div>

<div id="red">
<form>


  <h2 class="heading-large">
    Sign in with GOV.UK Verify
  </h1>

<fieldset>
    <div class="multiple-choice">
      <input id="radio-1" type="radio">
      <label>This is my first time using Verify</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-2" type="radio">
      <label>I've used Verify before</label>
    </div>
</fieldset>

<br>

</form>

<div>
    <a href="v-description.html"><input class="button" type="submit" value="Continue" style="font-weight:bold"></a>
</div>

</div>



</div>
</main>






{% endblock %}
