{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}




<!--  -->

<br></br>
<style>

#blue {
  width:700px;
  height:600px;
  background:#005EA5;
  padding: 20px 30px 50px 30px;
}

#green {
    width: 250px;
    height: 300px;
    border: 1px #005EA5;
    float: left;
    margin: 5px;
}
#red {
    width: 400px;
    height: 300px;
    border: 1px #005EA5;
    margin: 5px;
    float: left;
}


body {color: white;}
h1   {color: white;}
h2 {
    color: white;
    font-size: 150%;
}
textarea   {color: white;}
label {color: white;}
.button {
    background-color: #FFFFFF;
    border: none;
    color: #005EA5;/* blue */
    padding: 8px 20px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 18px;
}
.button:hover {
    background-color: white;
    color: #005EA5;/* blue */
}

</style>



<main id="content" role="main">
<div id="blue">


<div id="green">
<img align='left' alt="GOV.UK Verify" src="../public/images/govuk-verify.svg" height="100" width="150" style="padding:40px;">
</div>



<div id="red">

<h2>Post Office has verified your identity</h2>

<br>
You can sign in to view your permits whenever you see the GOV.UK Verify logo with your Post Office identity account username and password.<br></br>

<div>
    <a href="v-c-number.html"><input class="button" type="submit" value="Continue" style="font-weight:bold"></a>
</div>
<br>
<p class="font-xsmall">
Some government services need you to add extra security to your identity account, but you only need to do this once.
</p>



<details>
  <summary style="color:white;"><span class="summary">Government services requiring extra security</span></summary>
<div class="panel panel-border-narrow">
<ul class="list list-bullet">
<li>renew or update your UK passport</li>
<li>renew your driving licence</li>
<li>check your Income Tax for the current year</li>
<li>check your State Pension</li>
<li>tell DVLA about your medical condition</li>
</ul>
</div>
</details>

</div>

</div>
</main>












{% endblock %}
