{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="v-start-page.html">Home</a></li>
      <li>Your permits</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>


      <table>
        <thead>
          <tr>
            <th>Permit serial number</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>445566</th>
            <td>xxxxxxx</td>
            <td><a href="#">View</a></td>
          </tr>
          <tr>
            <th>556677</th>
            <td>xxxxxxx</td>
            <td><a href="#">View</a></td>
          </tr>
          <tr>
            <th>667788</th>
            <td>xxxxxxx</td>
            <td><a href="#">View</a></td>
          </tr>
        </tbody>
      </table>







    </div>

    <div class="column-third">
          <ul class="font-xsmall">
            <li><a href="#">Change password</a></li>
            <li><a href="#">Sign out</a></li>
          </ul>
    </div>

  </div>

</main>

{% endblock %}
