{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    <br>

      <h1 class="heading-large">Create an account
      </h1>
<h3 class="heading-medium">Create a Government Gateway account</h3>

Registering with Government Gateway usually takes about 10 minutes and works best if you have:
<br/>
<ul class="list list-bullet">
 <li>Your national insurance number
 <li>A valid UK passport
</ul>

<a class="button" href="#" role="button">Create a Government Gateway account</a>
<br/>

<h3 class="heading-medium">Create a Defra account</h3>

Registering with Defra usually takes about 10 minutes and works best if you have:

<ul class="list list-bullet">
 <li>A driving license
 <li>A mobile phone
</ul>

        <a class="button" href="your-email.html" role="button">Create a Defra account</a>
<br/><br/><br/>

You can use a Government Gatway account to access other government services and a Defra account to access other Defra services.




</main>

{% endblock %}
