{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="int-start.html.html">Back</a>

      <h1 class="heading-large">Company address</h1>


      <label class="form-label" for="ni-number">
        Postcode<br><span class="form-hint">
Of the address registered with Companies House</span>
      <input class="form-control" id="name" type="text" name="name" width="100">







<br><br>
        <a class="button" href="com-add2.html" role="button">Find address</a>
<br><br><br><br>


Sally Jones<br/>
sally.jones@linked.com





</main>

{% endblock %}
