{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

      <h1 class="heading-large">Company details
      </h1>


      <label class="form-label" for="ni-number">
        Company name</label><span class="form-hint">
The name registered with Companies House. </span>
  <input class="form-control" id="name" type="text" name="name">






<br><br>
        <a class="button" href="com-add.html" role="button">Continue</a>
<br><br><br><br>








</main>

{% endblock %}
