{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
  <br></br>
      <div class="govuk-box-highlight">

        <p class="font-large">
          Thankyou for creating an account<br>
        </p>
        <p class="lede">You are now signed into the service</p>
      </div>

<br/>
  <a class="button" href="#" role="button">Continue</a>



    </div>
  </div>

</main>

{% endblock %}
