<HTML>
<HEAD>
<TITLE>Your Title Here</TITLE>
</HEAD>
<BODY BGCOLOR="FFFFFF">

<img src="../../public/images/gov-header.jpg"  height="50" width="800" alt="">
<img src="../../public/images/defra-logo.jpg"  height="100" width="200" alt="">
<br/><br/>
Sally Jones
<br/><br/>
We have sent you this email because you have asked to create a new Defra account.
<br/><br/>
We need to confirm that this is your email address.
<br/><br/>
Please confirm this by typing this code into the code input field in your browser window.




<br/>
<h3 class="heading-medium">65774</h4>
<br/>





<hr>










</HTML>
