{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    <br>

      <h1 class="heading-large">Your details
      </h1>

<br/>
Can an account be created with the following details?
<br/><br/>
First name: Sally<br/>
Last name: Jones<br/>
Email address: sally.jone@linked.com<br/>





<br><br>
        <a class="button" href="g-your-role.html" role="button">Continue</a>
<br><br>
<a href="#">Change the email address</a>







</main>

{% endblock %}
