{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


<a class="link-back" href="your-org">Back</a>
  <br>
      <h2 class="heading-large">Your role within the company
</h2>
        <p>Do you have the authority to create an account on behalf of your organisation?</p>


        <form>
          <fieldset>

            <div class="multiple-choice">
              <input id="waste-type-1" name="" type="checkbox" value="">
              <label for="waste-type-1">Yes, I am a Director of the company</label>
            </div>
            <div class="multiple-choice">
              <input id="waste-type-1" name="" type="checkbox" value="">
              <label for="waste-type-2">Yes, I am the company Secretary</label>
            </div>
            <div class="multiple-choice">
              <input id="waste-type-1" name="" type="checkbox" value="">
              <label for="waste-type-3">Yes, I work for the company</label>
            </div>

          </fieldset>
        </form>

<br>
Not sure, <a href="v-organisation">contact customer services.</a></p>
        <div class="form-group">
        <a href="your-email.html"><input class="button" type="submit" value="Continue"></a>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
