{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
  <br/>
      <h1 class="heading-large">Terms and conditions
      </h1>
<a class="link-back" href="termandconditions">Back</a>


        <p>
<h3 class="heading-medium">Registration</h3>


The details you provide will be passed to the Defra for verification. If successful, your registration details, including your name and email address, will be stored securely.
<br/><br/>
Your email address, may be used by the Defra to communicate with you and to forward messages to you in relation to other Defra services if you choose to register for those services.



<h3 class="heading-medium">User ID and password</h3>
Your User ID and password will be used to verify your identity and to authenticate information you send. <br/><br/>They will be held securely by Defra and will not be made available to other government departments.


<h3 class="heading-medium">De-registration</h3>
De-registration from Defra must be done on the GOV.UK website.


<h3 class="heading-medium">Security</h3>
You must always keep your user name and password safe and secret.

If you lose both your User ID and password, you will need to contact   <a href="sign-in">Defra Online Services Helpdesk.</a>

</p>

<div class="form-group">
  <a href="termandconditions"><input class="button" type="submit" value="Continue"></a>
</div></form>


    </div>
  </div>
</main>

{% endblock %}
