{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
  <br/>
      <h1 class="heading-large">Terms and conditions
      </h1>
<br/>
        <a href="tandc-text">View terms and conditions</a>
<br/><br/>

        <form>
          <fieldset>
            <div class="multiple-choice">
              <input id="tc" name="waste-types" type="checkbox" value="waste-animal">
              <label for="tc">I've read and accept the terms and conditions</label>
            </div>
          </fieldset>
        </form>

<br/>





        <div class="form-group">
          <a href="confirmed"><input class="button" type="submit" value="Continue"></a>
        </div></form>



    </div>
  </div>
</main>

{% endblock %}
