{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    <br>

      <h1 class="heading-large">Your name
      </h1>


      <label class="form-label" for="ni-number">
        First name
      </label>
      <input class="form-control" id="name" type="text" name="name">
<br><br>
      <label class="form-label" for="ni-number">
        Last name
      </label>
      <input class="form-control" id="name" type="text" name="name">





<br><br>
        <a class="button" href="your-role.html" role="button">Continue</a>
<br><br><br><br>








</main>

{% endblock %}
