{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="../index.html">Home</a></li>
      <li><a href="">Defra international account</a></li>

    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
<h1 class="heading-xlarge">International trade account</h1>
      <p>Use a Defra international trade account to import goods into the UK.</p>
</p>

<p>Registration is subject to <a href="#">Defra terms and conditions</a>, and takes around 5 minutes.</p>




      <p>
        <a class="button button-start" href="choose.html" role="button">Access service</a>
      </p>



    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Support</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li>Helpdesk: 06742365</li>
          </ul>
        </nav>

        <h2 class="heading-medium" id="subsection-title">Useful links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Trading agricultural goods</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
