{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

        <br></br>

      <h1 class="heading-large">Sign in
      </h1>





        <label class="form-label" for="ni-number">
          Your email address
          <span class="form-hint">
            That you used to register
          </span>
        </label>
        <input class="form-control" id="ni-number" type="text" name="ni-number">


        <br></br>
      Password
        <span class="form-hint">
        </span>
        <form>
        <input class="form-control" id="" type="text" name="">
        </form>
<br>
<a href="int-start">Forgotten your password?</a>
<br></br>
        <div class="form-group">
  <a href="signinpass.html"><input class="button" type="submit" value="Continue"></a>
        </div>
        <br></br>
<a href="int-start">Don't have an account?</a>


    </div>
  </div>
</main>

{% endblock %}
