{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="site-wrapper">
    <main id="content" role="main">

<div class="breadcrumbs">
    <ol>
        <li><a href="http://defra-poc-demo.azurewebsites.net/Home/Index">Home</a></li>
        <li><a href="">IdM Platform</a></li>
        <li></li>
    </ol>
</div>
<div class=" grid-row">
    <div class="column-two-thirds">
        <div id="api" data-name="SelfAsserted" style="" class="select-box">
    <div class="intro" style="display: none;">
      <p>Please provide the following details.</p>
    </div>
    <div id="attributeVerification" role="form">
      <div class="error pageLevel error-summary" id="passwordEntryMismatch" style="display: none;" aria-hidden="true"><h2 class="heading-medium error-summary-heading">The password entry fields do not match. Please enter the same password in both fields and try again.</h2></div>
      <div class="error pageLevel error-summary" id="requiredFieldMissing" style="display: none;" aria-hidden="true"><h2 class="heading-medium error-summary-heading">A required field is missing. Please fill out all required fields and try again.</h2></div>
      <div class="error pageLevel error-summary" id="fieldIncorrect" style="display: none;" aria-hidden="true"><h2 class="heading-medium error-summary-heading">One or more fields are filled out incorrectly. Please check your entries and try again.</h2></div>
      <div class="error pageLevel error-summary" id="claimVerificationServerError" style="display: none;" aria-hidden="true"><h2 class="heading-medium error-summary-heading"></h2></div>
      <div class="attr" id="attributeList">
        <ul>
          <li>
            <div class="attrEntry select-box"><div class="form-group">

              <legend><h1 class="heading-large">Are you an Agent, Consultant or Intermediary, who works on behalf of others to manage their permits?</h1><span class="form-hint">What is your role?</span></legend>

              <div class="error itemLevel" aria-hidden="true"><p class="error-message">This information is required.</p></div>







              <div class="multiple-choice"><input id="isRepresentative_yes" name="isRepresentative" type="radio" value="yes" autofocus=""><label for="isRepresentative_yes" class="form-label">Yes</label></div>
              <div class="multiple-choice"><input id="isRepresentative_no" name="isRepresentative" type="radio" value="no"><label for="isRepresentative_no" class="form-label">No</label></div>
              <p class="form-block">or</p><div class="multiple-choice"><input id="isRepresentative_maybe" name="isRepresentative" type="radio" value="maybe"><label for="isRepresentative_maybe" class="form-label">Not sure</label></div>


              <a href="javascript:void(0)" data-help="Select all that apply." class="helpLink tiny" style="display: none;">What is this?</a>
            </div></div>
          </li>
        </ul>
      </div>
      <div class="buttons">
        <button id="continue" aria-label="Continue" class="button">Continue</button>
        <button id="cancel" aria-label="Cancel" formnovalidate="" style="display: none;">Cancel</button>
      </div>

      <div class="verifying-modal">
        <div id="verifying_blurb" style="display: none;"></div>
      </div>
    </div>
  </div>
    </div>
</div>

    </main>
</div>



{% endblock %}
