{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Identity Management Prototypes
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

  <h2 class="heading-medium">MVP links</h2>
<a href="mvp2/int-start.html">MVP create account and sign in ('Start now' button on intro page)</a><br><span class="form-hint">Last updated 28 Feb 18
</span>
<a href="">MVP create account and sign in ('Access service' button on intro page)</a><br><span class="form-hint">Last updated 28 Feb 18
</span>
<a href="">MVP create account and sign in ('Sign in' button on intro page)</a><br><span class="form-hint">Last updated 28 Feb 18
</span><br>
<a href="mvp1/personal-details">EU Exit pages</a><br>
<a href="mvp1/register1">Register with temporary password</a><br>
<a href="mvp1/register2">Register with code</a>

<br>
    <h2 class="heading-medium">Prototypes</h2>
      <ul class="list list-bullet">
        <li><a href="verify/v-start-page.html">Proof of concept - new user registering with Verify as a company</br>
        </a><span class="form-hint">Last updated 15 Jan 18
        </span></li>
      </ul>
      <ul class="list list-bullet">
        <li><a href="start-page.html">BAS registration version 1</a></li>
			</ul>

<h2 class="heading-medium">Proof of concept - scenario 6</h2>
<a href="poc-page.html">Proof of concept - widget page</br></a><span class="form-hint">Last updated 15 Jan 18
</span>

      <h2 class="heading-medium">About this page</h2>

      <p>
        You'll find this page in the kit at '/app/views/index.html'. You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>






{% endblock %}
