{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Identity Management Prototypes
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

  <h2 class="heading-medium">MVP links</h2>
  <p class="lede">Manage team members<p/>
<a href="mvp3-users/dashboard.html">Dossiers</a><br>
<a href="mvp4-users/dashboard.html">Notifications</a>

<br>
<p class="lede">Create account and sign in</p>
Start now button<br>
<a href="w-label/int-start.html">White label v1</a><br>
<a href="w-label2/start.html">White label v2</a><br>
<a href="mvp2/int-start.html">Temporary pass in email</a>
  <br><a href="mvp2a/int-start.html">Link in email</a><br></br>
</span>
<a href="mvp2/int-start2.html">Access service button</a><br>
</span>
<a href="mvp2/int-start3.html">Federated page</a> using <a href="https://insidegovuk.blog.gov.uk/2018/02/21/making-it-easier-for-users-to-sign-in-to-services/">blog post</a>, and this<a href="https://www.gov.uk/check-income-tax-current-year"> service</a><br>


<br>

<p class="lede">Email confirmation</p>
<a href="mvp1/register1">Register with temporary password</a><br>
<a href="mvp1/register2">Register with code</a>

<br>
    <h2 class="heading-medium">BAS and Verify</h2>
      <ul class="list list-bullet">
        <li><a href="verify/v-start-page.html">Proof of concept - new user registering with Verify as a company</br>
        </a><span class="form-hint">Last updated 15 Jan 18
        </span></li>
      </ul>
      <ul class="list list-bullet">
        <li><a href="start-page.html">BAS registration version 1</a></li>
			</ul>

<br></br><br></br><br></br>

      <h2 class="heading-medium">About this page</h2>

      <p>
        You'll find this page in the kit at '/app/views/index.html'. You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>






{% endblock %}
