{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">



      <a class="link-back" href="start-page">Back</a>

      <h3 class="heading-large">Create new password
      </h3>
      <span class="form-hint">Your new password must have at least:
      8 characters
      1 symbol (like ?!£%)
      1 capital letter
      </span>
<br>
      <div class="form-group">
        <label class="form-label" for="user ID">
          Enter your new password

        </label>
        <input type="text" class="form-control" id="user ID">
      </div>

      <div class="form-group">
        <label class="form-label" for="password">
          Confirm your new password
          <span class="form-hint"></span>
        </label>
        <input type="text" class="form-control" id="passweord">
      </div>

      <div class="form-group">
          <a href="code"><input type="submit" class="button" value="Continue"></a>
      </div>




    </div>
  </div>
</main>

{% endblock %}
