{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="register1.html">Back</a>

      <h1 class="heading-large">
        Password sent
      </h1>


<br></br>
We've sent a temporary password to sally.jones@linked.com.
<br></br>You'll need to use this to <a href="signin" target="_blank">sign in for the first time.</a>






      <br></br>  <br></br><br></br>
<a href="email1" target="_blank">View email</a>




    </div>
  </div>
</main>

{% endblock %}
